.line_black {
    width: 60px;
    height: 1px;
    background-color: black; 
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  }
  
  .logo {
    width: 29.302px;
    height: 29.302px;
    flex-shrink: 0;
    margin: 0 25px 0 25px;

  }
.About_title{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Merienda;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 80px 0 20px 0;
    
    
}

.About_text{

    max-width: 50%;
    margin: 5px auto 100px auto;


}
