nav ul {
  padding-top: 30px;
  padding-left: 15px;
  margin-top: 0;
  
  list-style: none;
  display: flex;
  align-items: center;
  
}

nav ul li:not(:nth-child(2)) {
  margin-left: 40px;
}
nav ul li:first-child {
  margin-left: 150px;
}
nav ul li a {
  text-decoration: none;
  color: #FFF;
  font-family: Merienda;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.logo-name{
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}
