.conteiner-item{
    width: 220px;
    height: 250px;
    padding: 22px 21px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 6px;
    position: relative;
    
}

.item_img{
    display: block;
    width: 151px;
    margin: 0 auto;
    
}
.item_title{
    position: absolute;
    bottom: 53px;
    text-align: center;
    margin-top: 14px;

}
.item_price{
    position: absolute;
    bottom: 15px;
    right: 21px;
    display: block;
    margin-top: 10px;
    margin-bottom:  15px;
    text-align: right;
    font-weight: 700;
}